body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFE1;
}

.topicpath {
	font-size: 11px;
	color: #666;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
p {
	margin: 0px;
	padding: 0px;
}
#footer {
	font-size: 11px;
	color: #765B2E;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
}

.text_contents {
	font-size: 12px;
	color: #765B2E;
	padding-top: 3px;
	padding-bottom: 10px;
}
