@charset "Shift_JIS";
@import url("/defaultMall/css/common/default_com.css");
@import url("/defaultMall/css/common/layout_com.css");


/** UNIVERSAL */
*.clear {
	display:block;
	clear:both;
	width:auto;
	height:1px;	
	margin:-1px 0 0 0;
	margin:0;
	padding:0;
	overflow:hidden;
}

div, form, body {
	margin:0px;
	padding:0px;
}

body {
	text-align: center;
	padding: 0px;
	font-family:"Osaka", "MS PGOTHIC", "Meiryo";
	font-weight: normal;
	color: #505050;
	background-color: #FFFFFF;
}
table tr{
	text-align:left;
}
tr{
	text-align: left;
}
h1,h2,h3{
	margin          : 0px;
	padding         : 0px;
}
/*textarea {
	font-size:100%;
}*/
.size0 {
     font-size:70%;
}
.size0B {
     font-size:70%;
	 font-weight:bolder
}
.size1 {
     font-size:80%;
}
.size1B {
     font-size:80%;
	 font-weight:bolder
}
.size2 {
     font-size:90%;
}
.size2B {
     font-size:90%;
	 font-weight:bolder
}
.size3 {
     font-size:110%;
}
.size3B {
     font-size:110%;
	 font-weight:bolder
}
.size4{
     font-size:140%;
}
.size4B {
     font-size:140%;
	 font-weight:bolder
}
.size5 {
     font-size:90%;
}
.size5B {
     font-size:90%;
	 font-weight:bolder
}
.weight_normal {
     font-weight:normal
}
.font_normal {
     font-weight:normal;
     color:#444444;
     font-size:100%;
}
.lh150{
	line-height: 150%;
}
.lh140{
	line-height: 140%;
}
.lh130{
	line-height: 130%;
}
.lh120{
	line-height: 120%;
}
.lh110{
	line-height: 110%;
}

table.size1 table,
table.size1 span,
td.size1 div,
td.size1 span,
/* td.size1 font,*/
div.size1 div,
div.size1 span,
font.size1 div,
font.size1 span,
font.size1 font,
td.size1 font.size1 {
	font-size:100%;
}

/* Search-Area  font size */
.srch_txt12 {
	font-size:12px;
}
	
.srch_txt14 {
	font-size:14px;
}

.srch_txt18 {
	font-size:18px;
}	


/* Search input field ：text box */
.txtbox {
	width    : 250px;
}

.txtbox2 {
	width    : 84px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #808080;
	height   : 14px;
}
.txtbox3 {
	width    : 120px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #808080;
	height   : 14px;
}
.txtbox4 {
	width    : 84px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #817F80;
	height   : 14px;
}

.txtbox5 {
	width    : 110px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #817F80;
	height   : 14px;
}
.txtbox6 {
	width    : 175px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #808080;
	height   : 14px;
}

.txtbox7 {
	width    : 35px;
	padding  : 2px;
	margin   : 0px;
	border   : 1px solid #808080;
	height   : 14px;
}
.select_box {
	border : 1px solid #8DB6D8;
	height   : 14px;
}

select.txtbox,
select.txtbox2,
select.txtbox3,
select.txtbox4,
select.txtbox5,
select.txtbox6,
select.txtbox7,
select.select_box{
	height   : 1.5em;
}
input.txtbox,
input.txtbox2,
input.txtbox3,
input.txtbox4,
input.txtbox5,
input.txtbox6,
input.txtbox7,
input.select_box{
	height   : 1.2em;
	padding  : 0 2px 0 2px;
}




/*1 00px-image⇒70px（IE only） */

.thum70 {
    zoom: 0.7; 
}

/* Search-Form table color */
.search_bg_white{
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #F7EFDE;
}
.sofa_bg_white{
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #F7EFDE;
	/*background-color: #ECF5DF;*/
}
.select_box120 {
	border : 1px solid #6c8dac;
	width:120px
}

/** LINK */
a:link {
	color:#3C549B;
}

a:hover {
	text-decoration :none;
	color           :#B3143E;
}

a:active {
	text-decoration :underline;
	color           :#800080;
}

a.inline:link {
	text-decoration :underline;
	color           :#002878;
}
a.inline:visited {
	text-decoration:underline;
	color:#7E9BD6;
}
a.inline:hover, a:active {
	text-decoration:underline;
	color:#B3143E;
}

a.white:link {
	text-decoration:underline;
	color:#FFFFFF;
}
a.white:visited {
	text-decoration:underline;
	color:#FFFFFF;
}

a.white:hover {
	text-decoration:underline;
	color:#FFFFFF;
}

a.white:active {
	text-decoration:underline;
	color:#FFFFFF;
}

.cFFFFFF {
	color:#FFFFFF;
}
.cCCCCCC {
	color:#CCCCCC;
}
.cF7E2E3 {
	color:#F7E2E3;
}
.cFF8A3D {
	color:#FF8A3D;
}
.cF34653 {
	color:#F34653;
}
.c5A71C7 {
	color:#5A71C7;
}
.cBF154A {
	color:#BF154A;
}
.c3A3A84 {
	color:#3A3A84;
}
.c9A9999 {
	color:#9A9999;
}
.c002878 {
	color:#002878;
}
.cB7083E {
	color:#B7083E;
}
.cCB0808 {
	color:#CB0808;
}
.cFC7B2C {
	color:#FC7B2C;
}
.c505050 {
	color:#505050;
}
.cB8B7B7 {
	color:#B8B7B7;
}
.cE53100 {
    color:#E53100;
}
.cEC6841 {
    color:#EC6841;
}
.cC01549 {
    color:#C01549;
}
.c333333 {
    color:#333333;
}
.c58382A {
    color:#58382A;
}
}
.c78BA1D {
    color:#78BA1D;
}
.c78BA1D {
    color:#78BA1D;
}
.error {
	font-size:90%;
	text-decoration:none;
	color:#C80B0B;
}
/*CATEGORY COLOR*/
/*interior*/
.c99BBD3 {
	color:#99BBD3;
}
/*housewares*/
.cDDBE67 {
	color:#DDBE67;
}
/*fashion*/
.cC59CBF {
	color:#C59CBF;
}
/*beauty*/
.c9D9CC5 {
	color:#9D9CC5;
}
/*sports*/
.cAFC677 {
	color:#AFC677;
}
/*food*/
.cDE9362 {
	color:#DE9362;
}


/** MARGIN */
.marginTop2 {
	margin-top:2px;
}
.marginTop4 {
	margin-top:4px;
}
.marginTop5 {
	margin-top:5px;
}
.marginTop6 {
	margin-top:6px;
}
.marginTop7 {
	margin-top:7px;
}
.marginTop8 {
	margin-top:8px;
}
.marginTop9 {
	margin-top:9px;
}
.marginTop10 {
	margin-top:10px;
}
.marginTop11 {
	margin-top:11px;
}
.marginTop12 {
	margin-top:12px;
}
.marginTop13 {
	margin-top:13px;
}
.marginTop14 {
	margin-top:14px;
}
.marginTop15 {
	margin-top:15px;
}
.marginTop16 {
	margin-top:16px;
}
.marginTop20 {
	margin-top:20px;
}
.marginTop22 {
	margin-top:22px;
}
.marginTop25 {
	margin-top:25px;
}
.marginTop27 {
	margin-top:27px;
}
.marginTop30 {
	margin-top:30px;
}
.marginTop35 {
	margin-top:35px;
}
.marginTop40 {
	margin-top:40px;
}
.marginTop45 {
	margin-top:45px;
}
.marginTop62 {
	margin-top:62px;
}
.marginTop65 {
	margin-top:65px;
}


.marginBottom1 {
	margin-bottom:1px;
}
.marginBottom2 {
	margin-bottom:2px;
}
.marginBottom3 {
	margin-bottom:3px;
}
.marginBottom4 {
	margin-bottom:4px;
}
.marginBottom5 {
	margin-bottom:5px;
}
.marginBottom6 {
	margin-bottom:6px;
}
.marginBottom7 {
	margin-bottom:7px;
}
.marginBottom8 {
	margin-bottom:8px;
}
.marginBottom9 {
	margin-bottom:9px;
}
.marginBottom10 {
	margin-bottom:10px;
}
.marginBottom11 {
	margin-bottom:11px;
}
.marginBottom12 {
	margin-bottom:12px;
}
.marginBottom13 {
	margin-bottom:13px;
}
.marginBottom14 {
	margin-bottom:14px;
}
.marginBottom15 {
	margin-bottom:15px;
}
.marginBottom16 {
	margin-bottom:16px;
}
.marginBottom17 {
	margin-bottom:17px;
}
.marginBottom19 {
	margin-bottom:19px;
}
.marginBottom20 {
	margin-bottom:20px;
}
.marginBottom23 {
	margin-bottom:23px;
}
.marginBottom24 {
	margin-bottom:24px;
}
.marginBottom25 {
	margin-bottom:25px;
}
.marginBottom26 {
	margin-bottom:26px;
}
.marginBottom27 {
	margin-bottom:27px;
}
.marginBottom28 {
	margin-bottom:28px;
}
.marginBottom29 {
	margin-bottom:29px;
}
.marginBottom30 {
	margin-bottom:30px;
}
.marginBottom31 {
	margin-bottom:31px;
}
.marginBottom33 {
	margin-bottom:33px;
}
.marginBottom34 {
	margin-bottom:34px;
}
.marginBottom35 {
	margin-bottom:35px;
}
.marginBottom100 {
	margin-bottom:100px;
}
.marginTopBottom5{
	margin-top:5px;
	margin-bottom:5px;
}
.marginTopBottom7{
	margin-top:7px;
	margin-bottom:7px;
}
.marginTopBottom8{
	margin-top:8px;
	margin-bottom:8px;
}
.marginTopBottom10{
	margin-top:10px;
	margin-bottom:10px;
}
.marginTopBottom12{
	margin-top:12px;
	margin-bottom:12px;
}
.marginTopBottom14{
	margin-top:14px;
	margin-bottom:14px;
}
.marginTopBottom20{
	margin-top:20px;
	margin-bottom:20px;
}
.marginTopBottom25{
	margin-top:25px;
	margin-bottom:25px;
}
.marginTopBottom30{
	margin-top:30px;
	margin-bottom:30px;
}

.marginTop5Bottom10{
	margin-top:5px;
	margin-bottom:10px;
}
.marginTop6Bottom5{
	margin-top:6px;
	margin-bottom:5px;
}
.marginTop9Bottom10{
	margin-top:9px;
	margin-bottom:10px;
}
.marginTop10Bottom15{
	margin-top:10px;
	margin-bottom:15px;
}
.marginTop10Bottom25{
	margin-top:10px;
	margin-bottom:25px;
}
.marginTop10Bottom35{
	margin-top:10px;
	margin-bottom:35px;
}
.marginTop11Bottom7{
	margin-top:11px;
	margin-bottom:7px;
}
.marginTop12Bottom6{
	margin-top:12px;
	margin-bottom:6px;
}
.marginTop12Bottom10{
	margin-top:12px;
	margin-bottom:10px;
}
.marginTop12Bottom15{
	margin-top:12px;
	margin-bottom:15px;
}
.marginTop14Bottom25{
	margin-top:14px;
	margin-bottom:25px;
}
.marginTop15Bottom10{
	margin-top:15px;
	margin-bottom:10px;
}
.marginTop15Bottom20{
	margin-top:15px;
	margin-bottom:20px;
}
.marginTop20Bottom25{
	margin-top:20px;
	margin-bottom:25px;
}
.marginTop22Bottom20{
	margin-top:22px;
	margin-bottom:20px;
}
.marginTop26Bottom15{
	margin-top:26px;
	margin-bottom:15px;
}

tr.paddingTop10 td{
	padding-top:10px;
}
tr.paddingTopBottom3 td{
	padding-top:3px;
	padding-bottom:3px;
}
tr.paddingTopBottom5 td{
	padding-top:5px;
	padding-bottom:5px;
}
tr.paddingTopBottom7 td{
	padding-top:7px;
	padding-bottom:7px;
}
tr.paddingTopBottom15 td{
	padding-top:15px;
	padding-bottom:13px;
}
tr.paddingTopBottom20 td{
	padding-top:20px;
	padding-bottom:20px;
}
tr.paddingTop10 td table tr td,
tr.paddingTopBottom3 td table tr td,
tr.paddingTopBottom5 td table tr td,
tr.paddingTopBottom7 td table tr td,
tr.paddingTopBottom15 td table tr td,
tr.paddingTopBottom20 td table tr td{
	padding:0;
}
/** BACKGROUND */
.bgC9D7F5 {
	background-color:#C9D7F5;
}
.bgB6BABE {
	background-color:#B6BABE;
}
.bgCECECE {
	background-color:#CECECE;
}
.bgF7E2E3 {
	background-color:#F7E2E3;
}
.bgF7EBEE {
	background-color:#F7EBEE;
}
.bgF8E6E7 {
	background-color:#F8E6E7;
}
.bgF5D6DA {
	background-color:#F5D6DA;
}
.bgECF4FC {
	background-color:#ECF4FC;
}
.bgECB9C0 {
	background-color:#ECB9C0;
}
.bgFCECEF {
	background-color:#FCECEF;
}
.bgFAEFD2 {
	background-color:#FAEFD2;
}
.bgFAF7D2 {
	background-color:#FAF7D2;
}
.bgFFFFFF {
	background-color:#FFFFFF;
}
.bg505050 {
	background-color:#505050;
}
.bgC32F3C {
	background-color:#C32F3C;
}
.bgC1C5C8 {
	background-color:#C1C5C8;
}
.bgE5E5E5 {
	background-color:#E5E5E5;
}
.bg5A71C7 {
	background-color:#5A71C7;
}
.bg98002F {
	background-color:#98002F;
}
.bg9A9FA4 {
	background-color:#9A9FA4;
}
.bg5970C7 {
	background-color:#5970C7;
}
.bgD8515C {
	background-color:#D8515C;
}
.bg000000 {
	background-color:#000000;
}
.bgEA8716 {
	background-color:#EA8716;
}
.bgF4F2E5 {
	background-color:#F4F2E5;
}
.bgB7083E {
	background-color:#B7083E;
}
.bg939393 {
	background-color:#939393;
}
.bgF3F3F3 {
	background-color:#F3F3F3;
}
.bg9A9A9A {
	background-color:#9A9A9A;
}
.bgF8E9D5 {
	background-color:#F8E9D5;
}
.bgE9CD67 {
	background-color:#E9CD67;
}
.bgF5F1DA {
	background-color:#F5F1DA;
}
.bgF4786C {
	background-color:#F4786C;
}
.bgEDE5D3 {
	background-color:#EDE5D3;
}
.bg3A3A84 {
	background-color:#3A3A84;
}
.bgEDDA94 {
	background-color:#EDDA94;
}
.bg34446C {
	background-color:#34446C;
}
.bgDF1414 {
	background-color:#DF1414;
}
.bgF5F1DA {
	background-color:#F5F1DA;
}
.bgF75D00 {
	background-color:#F75D00;
}
.bgD23637 {
	background-color:#D23637;
}
.bg78BA1D {
	background-color:#78BA1D;
}
.bgF9F3E5 {
	background-color:#F9F3E5;
}
.bg737373 {
	background-color:#737373;
}
.bgD6EABB {
	background-color:#D6EABB;
}
.bg85AEDE {
	background-color:#85AEDE;
}
.bgF6ECD0 {
	background-color:#F6ECD0;
}
.bgF6EDD0 {
	background-color:#F6EDD0;
}
.bg58382A {
	background-color:#58382A;
}
.bgF0F0F0 {
	background-color:#F0F0F0;
}
.bgF5F5F5 {
	background-color:#F5F5F5;
}
.bgC8C8C8 {
	background-color:#C8C8C8;
}
.bgF9F7EA {
	background-color:#F9F7EA;
}
.bgEBE5CA {
	background-color:#EBE5CA;
}
.bgD2D2D2 {
	background-color:#D2D2D2;
}
.bgECF5DF {
	background-color:#ECF5DF;
}
.bgDDE9F6 {
	background-color:#DDE9F6;
}
.bgF9EAE5 {
	background-color:#F9EAE5;
}
.bgF9F7EA {
	background-color:#F9F7EA;
}
.bgBDBDBD {
	background-color:#BDBDBD;
}
.bgEBEBEB {
	background-color:#EBEBEB;
}
.bgF8F8F8 {
	background-color:#F8F8F8;
}
.bgD9D9D9 {
  background-color:#D9D9D9;
}


.Tvbg01 {
	background-image:url(../images/template/st-l02/frm_left01.gif);
	background-repeat:repeat-y;
}
.Tvbg02 {
	background-image:url(../images/template/st-l02/frm_right01.gif);
	background-repeat:repeat-y;
}
.BCbg01 {
	background-image:url(../images/template/st-cp03/bg_dotline.jpg);
	background-repeat:repeat-y;
}
.Webbg01 {
	background-image:url(../images/template/st-ct01/bg_frmRight.jpg);
	background-repeat:repeat-y;
}
.onair01 {
	background-image:url(../images/template/st-cn01/st-cn0x-bg01.jpg);
	background-repeat:no-repeat;
}
.onair02 {
	background-image:url(../images/template/st-cn01/st-cn0x-bg02.jpg);
	background-repeat:no-repeat;
}
.funclub {
	background-image:url(../images/template/st-cn01/st-cn0x_separator.gif);
	background-repeat:repeat-y;
}


/*CATEGORY COLOR*/
/*interior*/
.bg286297 {
	background-color:#286297;
}
.bg699CBE {
	background-color:#699CBE;
}
.bg99BBD3 {
	background-color:#99BBD3;
}
/*housewares*/
.bgB9880C {
	background-color:#B9880C;
}
.bgD9AC2E {
	background-color:#D9AC2E;
}
.bgDDBE67 {
	background-color:#DDBE67;
}
/*fashion*/
.bg8C4685 {
	background-color:#8C4685;
}
.bgAD71A6 {
	background-color:#AD71A6;
}
.bgC59CBF {
	background-color:#C59CBF;
}
.bgF2EADE {
	background-color:#F2EADE;
}

/*beauty*/
.bg46468C {
	background-color:#46468C;
}
.bg7171AD {
	background-color:#7171AD;
}
.bg9D9CC5 {
	background-color:#9D9CC5;
}
/*sports*/
.bg208F69 {
	background-color:#208F69;
}
.bg6B8F20 {
	background-color:#6B8F20;
}
.bg97BA47 {
	background-color:#97BA47;
}
.bgAFC677 {
	background-color:#AFC677;
}
/*food*/
.bgBF520C {
	background-color:#BF520C;
}
.bgDD7733 {
	background-color:#DD7733;
}
.bgDE9362 {
	background-color:#DE9362;
}

/* 9px margin-left */

/*#main_Wrap {
	width:745px;
	margin:0 auto;
	text-align:left;
	margin-left:110px;
}
#dynamic_Wrap {
	width:745px;
	text-align:left;
	margin-left:110px;
}*/
#head_Wrap {
	width:745px;
	text-align:left;
}
#footer_Wrap {
	width:745px;
	text-align:left;
}
#yoridori {
	margin:0px 0 0 9px;
	text-align:left;
}
#body_Wrap {
	width:745px;
	text-align:left;
}

/* pankuzu navi */
#pankuzu {
	width:745px;
	font-size:80%;
	margin:0px auto 10px;
	text-align:left;
}

/*fav*/
#view-other-favlist{margin:20px 0 0 0;padding:0;width:745px;}
#view-other-favlist p{margin:0;padding:0;line-height:1.3em;}
#view-other-favlist #cnrtop{margin:10px 0 0 0;padding:0;background:url(/defaultMall/images/template/openfav/product/images/cnr_top_view_otherfav.gif) no-repeat;width:745px;height:7px;}
#view-other-favlist #cnrbtm{margin:0;padding:0;background:url(/defaultMall/images/template/openfav/product/images/cnr_btm_view_otherfav.gif) no-repeat;width:745px;height:7px;}
#view-other-favlist #other-fav-row{margin:0;padding:0;background:url(/defaultMall/images/template/openfav/product/images/bg_view_otherfav.gif) repeat-y;}
#view-other-favlist #other-fav-row table.wrap{margin:0 0 0 11px;padding:0;width:745px;}
#view-other-favlist #other-fav-row td.list-row{margin:0;padding:10px 0;width:214px;}
#view-other-favlist #other-fav-row .each-box{margin:0;padding:0;width:188px;}
#view-other-favlist #other-fav-row .thm-fixed{margin:0;padding:0;width:72px;height:72px;background:url(/defaultMall/images/template/openfav/product/images/bg_thm_large.gif) no-repeat;text-align:center;vertical-align:middle;}
#view-other-favlist #other-fav-row .prd-name{margin:0 0 0 10px;padding:0 0 0 8px;font-size:80%;background:url(/defaultMall/images/template/openfav/product/images/arrowM_right.gif) no-repeat 0 3px;}
#view-other-favlist #other-fav-row .prd-user{margin:5px 0 0 10px;padding:0;font-size:80%;text-align:right;}


/* saikin */
#saikin_box {
	margin:30px 0 0 9px;
}
.saikin {
	width:745px;
	padding:0 0 5px 0;
	margin:0px;
	background: url(/defaultMall/images/template/common/shousai/ttl_line.gif) no-repeat scroll left bottom;
}
.saikin .title{
	float:left;
	width:200px;
}
.saikin .link{
	float:right;
	text-align:right;
	width:500px;
	font-size:80%;
	margin:5px 0 0 0;
}
.saikin .link a{
	padding:0 0 0 13px;
	margin:0;
	background-image: url(/img/arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 3px;
	line-height:1.3;
}

.saikinItem{
	margin:18px 0 0 0;
	width:745px;
}
.saikinItem .item1st{
	width:110px;
	width:95px;
	float:left;
}
.saikinItem .item1st table{
	margin:0px auto;
}
.saikinItem .item1st .name{
	margin:10px 0 0 0;
	font-size:70%;
}
.saikinItem .item1st .price{
	margin:5px 0 0 0;
	font-size:70%;
	font-weight:bold;
	text-align:center;
}
.saikinItem .item{
	margin:0 0 0 35px;
	width:95px;
	float:left;
}
.saikinItem .item table{
	margin:0px auto;
}
.saikinItem .item .name{
	margin:10px 0 0 0;
	font-size:70%;
}
.saikinItem .item .price{
	margin:5px 0 0 0;
	font-size:70%;
	font-weight:bold;
	text-align:center;
}

/* mailBody */
.mailBody {
	width:197px;
	padding:10px 0;
	background:url(/defaultMall/images/template/common/cat1/mail_bk.gif) repeat-y scroll 0 0;
}
.mailBody p{
	padding:0 15px 10px 15px;
	margin:0px;
	line-height:1.3;
}

/* osusumeShop */
.osusumeShop {
	width:533px;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	border-bottom:1px solid #DBDBDB;
}
.osusumeShop table{
	margin:0 0 0 11px;
	width:511px;
}
.osusumeShop table td{
	vertical-align:top;
}
.osusumeShop table td.photo{
	width:95px;
}
.osusumeShop table td.logo{
	width:220px;
	font-size:80%;
}
.osusumeShop table td.logo .date{
	line-height:1.4;
	margin:15px 0 0 0;
}
.osusumeShop table td.logo .date img{
	vertical-align:middle;
	margin:0 0 0 5px;
}
.osusumeShop table td.dotline{
	white-space:nowrap;
	width:20px;
	background:url(/defaultMall/images/template/common/cat1/dotline.gif) repeat-y scroll 10px 0;
}
.osusumeShop table td.newinfo{
	width:176px;
}
.osusumeShop table td.newinfo table{
	margin:10px 0 0 0;
	padding:0px;
	width:auto;
}

/* osusumeShop2 */
.osusumeShop2 {
	width:533px;
	padding:0 0 16px 0;
	margin:0 0 15px 0;
	background:url(/defaultMall/images/template/common/cat1/osusume_btm.gif) no-repeat scroll left bottom;
}
.noboederossuume2{
	background-image:none;
	padding:0 0 25px 0;
	margin:0;
}
.osusumeShop2 .osusumeShop2Body{
	margin:0 0 0 11px;
	width:522px;
	background:url(/defaultMall/images/template/common/cat1/osusume_btm2.gif) repeat-y scroll 255px 0;
}
.osusumeShop2 .osusumeShop2Body .osusumeShop2Left{
	float:left;
	margin:0;
	width:245px;
}
.osusumeShop2 .osusumeShop2Body .osusumeShop2Right{
	float:left;
	margin:0 0 0 27px;
	width:245px;
}
.osusumeShop2 table{
	margin:0px;
	padding:0px;
	width:245px;
}
.osusumeShop2 table td{
	vertical-align:top;
}
.osusumeShop2 table td.photo{
	width:95px;
}
.osusumeShop2 table td.logo{
	font-size:80%;
	width:150px;
}
.osusumeShop2 table td.logo .date{
	line-height:1.4;
	margin:15px 0 0 0;
}
.osusumeShop2 table td.logo .date img{
	vertical-align:middle;
	margin:0 0 0 1px;
}

/* osusumeShop3 */
.osusumeShop3 {
	width:745px;
	padding:0 0 16px 0;
	margin:0 0 15px 0;
	background:url(/defaultMall/images/template/common/cat1/osusume_btm3.gif) no-repeat scroll left bottom;
}
.noboederossuume3{
	background-image:none;
	margin:0px;
}
.osusumeShop3 .osusumeShop3Body{
	margin:0 0 0 11px;
	width:734px;
	background:url(/defaultMall/images/template/common/cat1/osusume_btm4.gif) repeat-y scroll 0 0;
}
.osusumeShop3 .osusumeShop3Body .osusumeShop3Left{
	float:left;
	margin:0;
	width:345px;
}
.osusumeShop3 .osusumeShop3Body .osusumeShop3Right{
	float:left;
	margin:0 0 0 40px;
	width:330px;
}
.osusumeShop3 table{
	margin:0px;
	padding:0px;
	width:330px;
}
.osusumeShop3 table td{
	vertical-align:top;
}
.osusumeShop3 table td.photo{
	width:95px;
}
.osusumeShop3 table td.logo{
	font-size:80%;
	width:235px;
}
.osusumeShop3 table td.logo .date{
	line-height:1.4;
	margin:15px 0 0 0;
}
.osusumeShop3 table td.logo .date img{
	vertical-align:middle;
	margin:0 0 0 1px;
}

/* fashionGramica */
.fashionGramica{
	width:533px;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	border-bottom:1px solid #DBDBDB;
}
.fashionGramica .title{
	width:515px;
	margin:0 0 0 8px;
	padding:0 0 7px 0;
	background:url(/defaultMall/images/template/common/cat1/dot_fgramica.gif) repeat-x scroll left bottom;
}
.fashionGramica .title .pct{
	width:215px;
	width:200px;
	padding:0 0 0 20px;
	float:left;
}
.fashionGramica .title .logo{
	width:259px;
	width:290px;
	float:left;
	padding:0;
	margin:0;
	font-size:80%;
}
.fashionGramica .title .logo img{
	padding:0 0 15px 0;
}
.fashionGramica .title .logo p{
	margin:0px;
	padding:0px;
}

.fashionGramica .shoplist{
	margin:8px 0 0 8px;
	width:525px;
	background:url(/defaultMall/images/template/common/cat1/dot_fgramica02.gif) repeat-y scroll 0 0;
}
.fashionGramica .shoplist .shop{
	margin:0 10px 0 0;
	float:left;
	width:165px;
}
.fashionGramica .shoplist .shop table{
	margin:2px 0 0 0;
	padding:0px;
}
.fashionGramica .shoplist .shop table td{
	vertical-align:top;
	font-size:80%;
}
.fashionGramica .shoplist .shop table td p{
	margin:0px;
}
.fashionGramica .shoplist .shop table td p.date{
	margin-top:10px;
}

.cartain {
	margin-bottom: 10px;
}


/* お客様情報メニュー */
#UserMenu {
	padding:10px!important;
}
#UserMenu .size1B .size1B {
	font-size:100%;
}

/* カート　支払金額表示 */
td.size1 td.bg5A71C7 table font.size1B {
	font-size:100%;
}
